A&ntilde;adir comentario:<p>
<form method="post" action="/quizes/<%=quizId%>/comments">
	<input type="text" id="comment" name="comment[texto]" values=""/><p>
	<button type="submit">Enviar</button>
</form>