<table>
	<tr>
		<td>
			<table>
				<tr>
					<td>
						<p>Autor de la p&aacute;gina: Adriana Ceballos</p>
					</td>
				</tr>	
				<tr>
					<td>
						<p>Fecha de creaci&oacute;n: Junio de 2015</p>
					</td>
				</tr>
			</table>
		</td>
		<td>
			<img src='/images/foto.jpg' style="width:70px;height:70px;"/>
		</td>
	</tr>
</table>